@font-face {
    font-family: 'Georgia Regular';
    src: url('../fonts/Georgia.eot');
    src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Georgia.woff') format('woff'),
    url('../fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Georgia Italic';
    src: url('../fonts/Georgia-Italic.eot');
    src: url('../fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Georgia-Italic.woff') format('woff'),
    url('../fonts/Georgia-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Georgia Bold';
    src: url('../fonts/Georgia-Bold.eot');
    src: url('../fonts/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Georgia-Bold.woff') format('woff'),
    url('../fonts/Georgia-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Georgia Bold Italic';
    src: url('../fonts/Georgia-BoldItalic.eot');
    src: url('../fonts/Georgia-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Georgia-BoldItalic.woff') format('woff'),
    url('../fonts/Georgia-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }