<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
    <div id="header">
      <nav>
        <ul>
          <li class="fork"><h2><i>Портфолио Берзовой Лизаветты</i></h2></li>
            <li class="downloads"><a href="https://lizavetta2008.github.io/"><i class="fa fa-home"></i></a></li>
        </ul>
      </nav>
    </div>

    <div class="wrapper">

      <section>
        <div id="title">
          <span class="credits left"> <i>Не люблю людей, но можешь стать исключением: <a href="mailto:elizaveta.berzova@gmail.com">elizaveta.berzova@gmail.com</a></i></span>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
